.gitignore      text eol=lf
.gitattributes  text eol=lf
.gitmodules     text eol=lf

[mM]akefile     text eol=lf
*.md            text eol=lf
*.txt           text eol=lf

*.c             text diff=c
*.h             text diff=c
*.cpp           text diff=cpp
*.hpp           text diff=cpp
